<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/register" method="post">
      <input type="text" name="name" placeholder="Enter your name" /><br />
      <input type="date" name="age" /><br />
      <div>
        <select name="gender" aria-placeholder="gender">
          <option disabled selected>Select Gender</option>
          <option name="male" value="male">Male</option>
          <option name="female" value="female">Female</option>
          <option name="other" value="other">Other</option>
        </select>
      </div>
      <input
        type="number"
        name="phoneNumber"
        placeholder="Enter your Phone number"
      /><br />
      <input type="email" name="email" placeholder="Enter your email" /><br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
